.mediaViewInfo {
	--web-view-name: iPhone 14, 13, 12 – 2;
	--web-view-id: iPhone_14_13_12__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: iPhone_14_13_12__2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#iPhone_14_13_12__2 {
	position: absolute;
	width: 390px;
	height: 2117px;
	background-color: rgba(34,34,34,1);
	overflow: hidden;
	--web-view-name: iPhone 14, 13, 12 – 2;
	--web-view-id: iPhone_14_13_12__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#Rectangle_64 {
	fill: rgba(255,148,224,1);
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_64 {
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 286px;
	left: 0px;
	top: 1831px;
}
#Component_1__7 {
	position: absolute;
	width: 335px;
	height: 54px;
	left: 28px;
	top: 2055px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: iPhone_14__13__12___1.html;
	cursor: pointer;
}
#THE_AYESTUDIO {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 336px;
	white-space: nowrap;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 41px;
	color: rgba(227,222,222,1);
}
#Designs_is_thinking_made_visua {
	left: 13px;
	top: 1856px;
	position: absolute;
	overflow: visible;
	width: 366px;
	white-space: nowrap;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(34,34,34,1);
}
#Contact_Us {
	left: 17px;
	top: 1943px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: iPhone_14__13__12___3.html;
	cursor: pointer;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(34,34,34,1);
	text-decoration: underline;
}
#Image_13 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 17px;
	top: 1999px;
	overflow: visible;
}
#Image_14 {
	position: absolute;
	width: 54px;
	height: 54px;
	left: 101px;
	top: 1997px;
	overflow: visible;
}
#Image_15 {
	position: absolute;
	width: 47px;
	height: 47px;
	left: 194px;
	top: 1997px;
	overflow: visible;
}
#CHeshire_aye {
	opacity: 0.847;
	position: absolute;
	width: 449px;
	height: 449px;
	left: -29px;
	top: 0px;
	overflow: visible;
}
#Our_goal_is_to_create_innovati {
	left: 40px;
	top: 475px;
	position: absolute;
	overflow: visible;
	width: 311px;
	white-space: nowrap;
	text-align: center;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,148,224,1);
}
#Contact {
	left: 281px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: iPhone_14__13__12___3.html;
	cursor: pointer;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,148,224,1);
}
#Component_1__15 {
	position: absolute;
	width: 221px;
	height: 35px;
	left: 25px;
	top: 27px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: iPhone_14__13__12___1.html;
	cursor: pointer;
}
#THE_AYESTUDIO_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,148,224,1);
}
#BRANDING_PHOTO {
	opacity: 0.796;
	position: absolute;
	width: 277px;
	height: 276px;
	left: 57px;
	top: 809px;
	overflow: visible;
}
#videography_photo {
	opacity: 0.796;
	position: absolute;
	width: 279px;
	height: 279px;
	left: 56px;
	top: 1142px;
	overflow: visible;
}
#Webdev_photo {
	opacity: 0.796;
	position: absolute;
	width: 274px;
	height: 275px;
	left: 58px;
	top: 1478px;
	overflow: visible;
}
#ABOUT {
	left: 66px;
	top: 338px;
	position: absolute;
	overflow: visible;
	width: 259px;
	white-space: nowrap;
	text-align: center;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(255,148,224,1);
}