.mediaViewInfo {
	--web-view-name: iPhone 14, 13, 12 – 3;
	--web-view-id: iPhone_14_13_12__3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: iPhone_14_13_12__3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#iPhone_14_13_12__3 {
	position: absolute;
	width: 390px;
	height: 916px;
	background-color: rgba(34,34,34,1);
	overflow: hidden;
	--web-view-name: iPhone 14, 13, 12 – 3;
	--web-view-id: iPhone_14_13_12__3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#Photo_Essay-13 {
	opacity: 0.8;
	position: absolute;
	width: 569px;
	height: 379px;
	left: -118px;
	top: 0px;
	overflow: visible;
}
#Component_1__17 {
	position: absolute;
	width: 221px;
	height: 35px;
	left: 21px;
	top: 35px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: iPhone_14__13__12___1.html;
	cursor: pointer;
}
#THE_AYESTUDIO {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,148,224,1);
}
#About {
	left: 290px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: iPhone_14__13__12___2.html;
	cursor: pointer;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(255,148,224,1);
}
#CONTACT {
	left: 16px;
	top: 286px;
	position: absolute;
	overflow: visible;
	width: 359px;
	white-space: nowrap;
	text-align: center;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(255,148,224,1);
}
#WE_BELIEVES_IN__QUALITY_VS_QUA {
	left: 21px;
	top: 405px;
	position: absolute;
	overflow: visible;
	width: 302px;
	white-space: nowrap;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#IF_YOU_DO_TOO__YOU_KNOW_WHAT_T {
	left: 24px;
	top: 497px;
	position: absolute;
	overflow: visible;
	width: 344px;
	white-space: nowrap;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rectangle_86 {
	fill: rgba(255,148,224,1);
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_86 {
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 286px;
	left: 0px;
	top: 634px;
}
#Component_1__12 {
	position: absolute;
	width: 335px;
	height: 54px;
	left: 28px;
	top: 858px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: iPhone_14__13__12___1.html;
	cursor: pointer;
}
#THE_AYESTUDIO_x {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 336px;
	white-space: nowrap;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 41px;
	color: rgba(227,222,222,1);
}
#Designs_is_thinking_made_visua {
	left: 13px;
	top: 659px;
	position: absolute;
	overflow: visible;
	width: 366px;
	white-space: nowrap;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(34,34,34,1);
}
#Contact_Us {
	left: 17px;
	top: 746px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: LINE Seed Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(34,34,34,1);
	text-decoration: underline;
}
#Image_22 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 17px;
	top: 802px;
	overflow: visible;
}
#Image_23 {
	position: absolute;
	width: 54px;
	height: 54px;
	left: 101px;
	top: 800px;
	overflow: visible;
}
#Image_24 {
	position: absolute;
	width: 47px;
	height: 47px;
	left: 194px;
	top: 800px;
	overflow: visible;
}